

.main-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.navbar-left>h1 {
  font-size: 25px;
  font-weight: 500;
}

.btns {
  background: white;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: none !important;
}
.title{
  margin: 20px 15px;
}