.dynamic-delete-button {
  position: relative;
  top: 4px;
  margin: 0 8px;
  color: #999;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.des-spec-parernt {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
}

.fields {
  width: 48%; 
}

input, textarea, .ant-select-selector, .ant-input-number {
  width: 100%;
}

.ant-form-item-explain {
  color: red; 
}

/* Array fields */
.arrayfield-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; 
}

.arrayfield-group .fields {
  width: 48%; 
}

.arrayfield-group .ant-input {
  width: 100%; 
}

label {
  color: #787474;
  font-size: 20px;
}

.arrayfield-group .fields input, 
.arrayfield-group .fields .ant-input,
.arrayfield-group .fields .ant-input-number {
  background-color: #f5f5f5; 
  padding: 8px; 
  border-radius: 4px; 
}

.arrayfield-group .fields .ant-input:hover, 
.arrayfield-group .fields .ant-input-number:hover {
  border-color: #40a9ff; 
}

/* Ensure array fields (packageIncludes, timings, and notes) are one per line and 50% width */
.arrayfield-group {
  width: 100%; 
}

.arrayfield-group .fields {
  width: 48%; 
  margin-bottom: 16px;
}


:where(.css-dev-only-do-not-override-ccdg5a).ant-modal .ant-modal-footer{
  display: none;
}

/* .ant-typography{
  display: none
} */